<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Skymoons | SAplatform</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="/static/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/static/dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="/static/css/zTreeStyle/metro.css">
  <link href="/static/image/uploadify/uploadify.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="/static/plugins/jQuery/jQuery-2.1.4.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/swfobject/2.2/swfobject.js"></script> 
  <script type="text/javascript" src="/static/image/uploadify/jquery.uploadify-3.1.min.js"></script>
  
  <script src="/static/js/jquery.ztree.all-3.5.min.js"></script>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
  
    <a href="/index/" class="logo">
      <span class="logo-mini"><b>A</b>LT</span>
      <span class="logo-lg"><b>Skymoons</b>SA</span>
    </a>

    <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </nav> 
  </header>

  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/static/dist/img/user2-160x160.jpg" class="img-thumbnail" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Skymoons</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        {% block sidebar %}

        <li class="header">MAIN NAVIGATION</li>

        <li class="treeview">
          <a href="http://10.10.11.69/index/">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>

        <li>
          <li class="treeview">
          <a href="http://10.10.11.69/general/">
            <i class="fa fa-th"></i> <span>Servers status</span>
          </a>
        </li>

        <li class="treeview">
          <a href="http://10.10.11.69/dir/">
            <i class="fa fa-edit"></i> <span>Display files</span>
          </a>
        </li>

       <li class="active treeview">
           <a href="http://10.10.11.69/userlist/">                    
               <i class="fa fa-gears"></i> <span>Privileges management</span>                    
               <i class="fa fa-angle-left pull-right"></i>               
           </a>
           <ul class="treeview-menu">
               <li class="treeview-menu">
                   <a href="/admin">admin</a>
<!--                   <i class="fa fa-angle-left pull-right"></i>
-->
                   <ul class="treeview-menu">
                       <li><a href="/user"><i class="fa fa-circle-o"></i>user</a></li>
                       <li class="treeview-menu">
                           <a href="/admin/role">                                    
                               <i class="fa fa-circle-o"></i>priviliges<i class="fa fa-angle-left pull-right"></i>                                
                           </a>
                           <ul class="treeview-menu">
                               <li><a href="/admin/route"><i class="fa fa-circle-o"></i> router</a></li>
                               <li><a href="/admin/permission"><i class="fa fa-circle-o"></i>permission</a></li>
                               <li><a href="/admin/role"><i class="fa fa-circle-o"></i>role</a></li>
                               <li><a href="/admin/assignment"><i class="fa fa-circle-o"></i>assignment</a></li>
                               <li><a href="/admin/menu"><i class="fa fa-circle-o"></i>menu</a></li>
                           </ul>
                       </li>
                   </ul>
               </li>
           </ul>
       </li>
        {% endblock %}
      </ul>
    </section>
  </aside>

  <div class="content-wrapper">
        </section>
	    <section class="content-header">
      <h1>
        权限管理
        <small>version1.0</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/userlist/"><i class="fa fa-gears"></i> Home</a></li>
        <li class="active">权限管理</li>
      </ol>
    </section>
    <section class="content">
        <div class="box-body table-responsive no-padding">

<!--    <div class="wrapper wrapper-content animated fadeInRight">
-->
        <div class="row">
            <div class="col-sm-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>选择群组信息</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                   {% if 'mycmd.delete_userdellist' in perms %}
                    <div class="ibox-content">
                        <form method="post" id="userForm" class="form-horizontal" action="">
                            {% if error %}
                                <div class="alert alert-warning text-center">{{ error }}</div>
                            {% endif %}
                            {% if msg %}
                                <div class="alert alert-success">{{ msg | safe }}</div>
                            {% endif %}

<!--
                            {% ifequal session_role_id 2 %}
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="role" class="col-sm-2 control-label">权限<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    {% for r, role_name in user_role.items %}
                                    <div class="col-sm-3">
                                        <div class="radio i-checks">
                                            <label><input type="radio" value="{{ r }}" class="role" name="role" {% ifequal r 'CU' %}checked{% endifequal %}>{{ role_name }}</label>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endifequal %}

-->
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="groups" class="col-sm-2 control-label">用户组选择</label>
                                <div class="col-sm-8">
                                    <select id="groups" name="groups" class="form-control m-b" multiple size="12">
                                        {% for group in group_all %}
                                            {% if forloop.first %}
                                                <option value="{{ group.id }}" selected>{{ group.username }}</option>
                                            {% else %}
                                                <option value="{{ group.id }}">{{ group.username }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="permall" class="col-sm-2 control-label">权限选择</label>
                                <div class="col-sm-8">
                                    <select id="permall" name="permall" class="form-control m-b" multiple size="12">
                                        {% for perm in perm_all %}
                                            {% if forloop.first %}
                                                <option value="{{ perm.id }}" selected>{{ perm.name }}</option>
                                            {% else %}
                                                <option value="{{ perm.id }}">{{ perm.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-white" type="reset">取消</button>
                                    <button id="submit_button" class="btn btn-primary" type="submit">确认保存</button>
                                </div>
                            </div>
                            </form>
                            {% else %}
                            <div class="hr-line-dashed"></div>
                                <span class="info-box-icon bg-red"><i class="fa ion-alert"></i></span>
                                <div class="info-box-content">
                                <span class="info-box-text">权限警告</span>
                                <!--<span class="info-box-number">1</span> -->
                                </div></br></br></br></br>
                                <label for="groups" class="col-sm-2 control-label">您无权对权限进行修改,请联系运维组核实您的权限</label></br><br>
                            </div></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>

                            {% endif %}
                       </div></br></br></br></br></br></br></br></br></br></br></br></br></br>
                    </div>
                </div>
            </div>
        </div>
      </section>
    </div>

<script>
    //----------------------------------------------------------
    var zTree;
    var demoIframe;

    function loadReady() {
        var bodyH = demoIframe.contents().find("body").get(0).scrollHeight,
                htmlH = demoIframe.contents().find("html").get(0).scrollHeight,
                maxH = Math.max(bodyH, htmlH), minH = Math.min(bodyH, htmlH),
                h = demoIframe.height() >= maxH ? minH:maxH ;
        if (h < 530) h = 530;
        demoIframe.height(h);
    }
    //console.log(11111111111111112);
</script>
</body>
</html>
